body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr {
    margin:0;padding:0;
}
input{
    outline:none;
}
img{
    border:none 0;
}
.left{
    float:left;
}
.right{
    float:right;
}
a{
    text-decoration:none;
}
em{
    font-style: normal;
}
ul,li{
    list-style: none;
}
body {
    font:12px/1.5 Arial;
    color:#333;
    min-width:1200px;
}
#topbar{
    width:100%;
    height:29px;
    background:#F5F5F5;
    border-bottom:1px solid #E6E6E6;
    font:12px/29px arial;
}
#topbar .top{
    width:1200px;
    line-height:29px;
    height:29px;
    margin:0 auto;
}
.top a{
    color:#666;
}
.top a:hover{
    color:#c00;
    text-decoration:underline;
}
.register a,.login a{
    color: #36c;
}
#topbar .top span{
    padding:0 20px 0 0;
}
.top li{
    margin:0 10px;
    line-height:29px;
    text-align: center;
    float: left;
}
.top li a{
    display: inline-block;
    color: #666;
    text-decoration: none;
}
.topr .mobile,.topr .connect,.topr .shop{
    margin:0;
}
.topr .active:hover{
    transform:rotate(180deg);
}
.goodsNum{
    color:#c40000;
    font-style: normal;
    padding:0 2px;
}
.con,.center{
    padding:0 23px 0 10px;
}
.mob{
    padding:0 23px 0 24px;
}
#topbar .topr .shop{
    position: relative;
}
#topbar .topr .hover:hover{
    background:#fff url(../img/topbar_ico.png) no-repeat 0 0;
}
#topbar .topr .hover1:hover{
    background:#fff;
}
.topr .shop .cen{
    position: absolute;
    top: 29px;
    left: -1px;
    padding: 3px 9px;
    width: 90px;
    border: 1px solid #ededed;
    border-top:none;
    background: #fff;
    z-index:5;
}
.top .cen em{
    color:red;
}
#topbar .mobile{
    position: relative;
    background:url(../img/topbar_ico.png) no-repeat 0 0;
}
#topbar .connect{
    position: relative;
}
#topbar .ico{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 7px;
    height: 4px;
    background:url(../img/topbar_ico.png) no-repeat 0 -45px;
    transition: transform .2s ease-in;
}
.mobile .img{
    position: absolute;
    top: 29px;
    left: -1px;
    padding: 20px;
    width: 130px;
    height: 130px;
    border: 1px solid #ededed;
    border-top:none;
    background: #fff;
    z-index:5;
}
#header{
    width:100%;
    background:#fff;
    z-index: 10;
    overflow:hidden;
}
#header .head{
    width:1200px;
    height:92px;
    padding:25px 0 0;
    margin:0 auto;
}
.fix{
    position: fixed;
    top:0;
    left:0;
}
.head img{
    vertical-align: bottom;
}
.head .logo{
    padding:5px 0 0;
    overflow:hidden;
}
.logo p{
    margin:3px 0 0 10px;
    padding:0 0 0 10px;
    border-left:1px solid #eee;
    font: 14px/44px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
#header .search-box{
    padding:12px 0 0  56px;
}
.search{
    position: relative;
    width:536px;
    height:32px;
    border:2px solid  #c40000;
    z-index: 3;
}
#header .text{
    padding:6px 10px;
    width:427px;
    height:20px;
    font: 14px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
    border: 0 none;

}
#header .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 89px;
    height: 32px;
    font: 16px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #fff;
    border: 0 none;
    background: #c40000;
    cursor: pointer;
}
.search-box .hot-search{
    padding:7px 0 0;
    font: 12px/18px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.search-box .hot-search a{
    display: inline-block;
    margin:0 15px 0 0;
    color:#999;
}
.search-box .hot-search a:hover{
    color:#FF0000;
    text-decoration: underline;
}
#nav-box{
    width:100%;
}
#nav-box .nav{
    width:1200px;
    height:32px;
    margin:0 auto;
    border-bottom:2px solid #C40000;
    position: relative;
}
.nav .con1{
    display: none;
    position: absolute;
    top:34px;
    left:0;
    z-index:100;
}

.nav .nav-title{
    width:200px;
    height: 32px;
    font: 14px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    background:#c40000;
    color: #fff;
    text-align: center;
    position: relative;
}
.nav .nav-title b{
    position: absolute;
    top: 14px;
    right: 20px;
    width: 10px;
    height: 6px;
    font: 0/0 arial;
    overflow: hidden;
    background: url(../img/zolcom_list_ico.png) no-repeat 0 0;
}
.nav a{
    padding:0 20px;
    height:30px;
    color:#666;
    font:16px/30px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"
}
.nav a:hover{
    color:red;
}

.nav .nav-cen .active{
    color:#f00;
}
.nav .nav-tips a{
    color:#f00;
}
.nav .con1 .main-con{
    width:200px;
    height:341px;
    background:#2d2d2d;
    position: relative;
}
.nav .con1 .main-con .item i{
    color: #ababab;
    font-size: 17px;
    line-height: 17px;
}
.nav .con1 ul li{
    height:38px;
    padding:0 0 1px 10px;
    border-top:1px solid #3d3d3d;
    font: 12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #fff;
}
.nav .con1 li a{
    margin: 0 3px;
    color: #fff;
    padding:0;
    font-weight: bold;
    font: 12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.nav .con1 .main-con .category{
    display: none;
    position: absolute;
    top:0;
    left:199px;
    padding:5px 30px;
    width:690px;
    height:399px;
    z-index: 10;
    background:#fff;
    opacity:.98;
    filter:alpha(opacity=98);
    border-right:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
}
.nav .con1 .main-con .category .title{
    padding:28px 0 20px 0px;
}
.nav .con1 .main-con .select{
    border-left:1px solid #3d3d3d;
    background:#FFF;
}
.nav .con1 .main-con .select a{
    color:#000;
}
.nav dl{
    position: relative;
    padding:15px 0 20px 68px;
    font: 12px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    border-bottom: 1px solid #eee;
}
.nav .category dl a{
    color:#000;
}
.nav .category dl dt{
    font-weight:bold;
    position: absolute;
    top:15px;
    left:0;
}
.nav .category dl dd a{
    color:#333;
    margin:0 8px;
    white-space: nowrap;
}
.nav .category dl dd{
    color:#d3d3d3;
}
#detail{
    width:100%;
    height:auto;
    overflow:hidden;
}
#detail .det{
    width:1200%;
    margin:0 auto;
}
#main{
    width:100%;
    overflow:hidden;
}
#main .mt{
    width:1200px;
    margin:0 auto;
    overflow:hidden;
}
.mt .index{
    width:100%;
    margin:0 auto;
}
.mt .index .top{
    overflow:hidden;
   margin:20px 0 0 ;
   font: 12px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.index .top .title a{
    margin:0 10px 0;
    color:#333;
}
.index .top .title p{
    color:#333;
    margin:0;
    font: 14px/26px "Microsoft YaHei";
}
.index .top .title a:hover{
    color:red;
    text-decoration:underline;
}
.index .top .num{
    color: #999;
}
.index .top .num i{
    font-style: normal;
    color:red;
    margin:0 5px;
}
.index .bto{
    margin-top:25px;
    width:1986px;
    border:2px solid #ccc;
    overflow:hidden;
}
.index .bto .kind{
    float: left;
    padding: 0 15px 0 0;
    width: 94px;
    height: 38px;
    background:#f7f7f7;
    font: 12px/38px "Microsoft YaHei";
    text-align: right;
    color: #666;
}
.index .bto .content{
    float: left;
    padding: 0 20px;
    color: #999;
    overflow: hidden;
    border-left: 1px solid #e6e6e6;
    font: 12px/38px "Microsoft YaHei";
    background: #fff;
}
#main .mc{
    width:1200px;
    margin:0 auto;
    /*overflow:hidden;*/
}
.mc .service{
   padding:32px 10px 0;
}
.mc .service img{
    vertical-align: bottom;
}
.mc .service span{
    float: left;
    padding: 0 25px;
    font: 16px/26px "Microsoft YaHei";
    background:url("../img/zolcom_list_ico.png") no-repeat 0 -263px;
}
.mc .toolbar{
    margin: 10px 0 0;
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    height:38px;
}
.toolbar .sort {
    float: left;
}
.toolbar .sort li {
    float: left;
    position: relative;
    margin: 0 -1px;
    padding: 0 1px;
    z-index: 2;
}
.toolbar .sort li a{
    padding: 0 15px;
    display: block;
    font: 12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #333;
}
.toolbar .sort .current {
    padding: 0;
    background: #fff;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.mc .delivery-origin {
    position: relative;
    display: inline-block;
    padding: 0 27px 0 15px;
    z-index:10;
    font: 12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    cursor: pointer;
}
.mc .commdress-list {
    position: absolute;
    top: 37px;
    left: -1px;
    padding: 10px 10px 5px;
    width: 326px;
    border: 1px solid #e6e6e6;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.toolbar .sort li a:hover{
    color: #c00;
}
.toolbar .sort .current a {
    color: #c00;
}
.toolbar .sort .comm-dress{
    border-right:1px solid #fff;
    border-left:1px solid #fff;
}
.commdress-list dl {
    margin: 5px 0;
    padding: 0 0 0 38px;
    position: relative;
    zoom: 1;
    font: 12px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.commdress-list dt {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 4px;
    height: 20px;
    color: #999;
}
.commdress-list dd {
    overflow: hidden;
    zoom: 1;
    line-height: 20px;
}
.commdress-list ul{
    overflow:hidden;
    margin:0 auto;
}
.toolbar .sort .commdress-list ul a:hover {
    color:#fff;
    background: #c00;
    text-decoration: none;
}
.toolbar .commdress-list li {
    float: left;
    width: 46px;
    border: 0 none;
}
.toolbar .sort .commdress-list .current-city {
     background: #f60;
     color: #fff;
     text-decoration: none;
 }
.toolbar .sort .commdress-list a {
    display: inline-block;
    padding: 0 5px;
    color: #333;
    line-height: 20px;
}
.toolbar .price-range{
    padding:0;
}
.price-range .inner {
    padding: 7px 15px;
    width: 116px;
    height:24px;
    position: relative;
}
.price-range .inner .operation{
    position: absolute;
    width:100%;
    height:28px;
    z-index: -1;
    background:#fff;
    top:0px;
    padding:48px 0 0;
    left:-1px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    border:1px solid #e6e6e6;
    border-top:none;
}
.price-range .text {
    z-index:1;
    float: left;
    padding: 0 5px;
    width: 40px;
    height: 22px;
    border: 1px solid #e6e6e6;
    font: 12px/22px arial;
    color: #999;
}
.price-range input{
    vertical-align: middle;
}
.price-range i {
    float: left;
    padding: 0 2px;
    width: 8px;
    color: #999;
    line-height: 24px;
}
.toolbar .sort .operation a {
    float: right;
    margin: 0 0 0 5px;
    width: 30px;
    height: 18px;
    padding: 0;
    line-height: 18px;
    text-align: center;
}
.toolbar .sort .operation .confirm {
    color: #fff;
    background: #f33;
}
.toolbar .sort .screening {
    padding: 0 51px 0 15px;
    width: 288px;
}
.screening .list {
    height: 38px;
    overflow: hidden;
}
.screening .list label {
    float: left;
    width: 96px;
    font: 12px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    white-space: nowrap;
}
.screening .list .check {
    margin: 0 5px 0 0;
}
.mini-page {
    float: right;
    margin: 9px 10px 0 0;
    height: 21px;
    line-height: 21px;
}
.mini-page em {
    float: left;
    padding: 0 2px 0 0;
    color: #999;
    font-style: normal;
}
.mini-page .no-prev, .mini-page .no-next {
    background-color: #f7f7f7;
}
.mini-page .no-prev{
    background-position: 0 -50px;
}
.mini-page .no-next{
    background-position:0 -70px;
}
.mini-page .no-prev,.mini-page .no-next{
    float: left;
    margin: 0 0 0 6px;
    width: 19px;
    height: 19px;
    text-indent: -9999em;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    background-image:url(../img/zolcom_list_ico.png);
    background-repeat:no-repeat;
}
#main .mcontent{
    width:1200px;
    overflow:hidden;
    margin:0 auto 50px;
}
.mcontent ul{
    list-style:none;
    max-height:1610px;
    overflow:hidden;
}
.mcontent .goods-list li a:hover{
    color:#c00;
    text-decoration:underline;
}
.goods-list .attention {
    display:none;
    position: absolute;
    right: 10px;
    top: 196px;
    width: 57px;
    height: 24px;
    font: 12px/24px arial;
    text-align: center;
    color: #fff;
    /*background:#000;
    opacity: .3;
    filter:alpha(opacity=30);*/
    background:rgba(0,0,0,0.3);
}
.goods-list .attention span {
    display: block;
    margin: 0 0 0 5px;
    padding: 0 0 0 18px;
    background:url(../img/zolcom_list_ico.png) no-repeat -7px -135px;
    font-weight: normal;
    text-align: left;
    cursor: pointer;
}
.goods-list .pic{
    width: 200px;
    height: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.goods-list .pic img{
    vertical-align: middle;
}
.goods-list .title {
    padding: 16px 0 0;
    height: 40px;
    overflow: hidden;
    font: 12px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.goods-list .title a {
    color: #333;
}
.goods-list .hover{
    margin:20px 0 30px;
    height:318px;
    padding:19px 19px 10px;
    border:1px solid #e6e6e6;
    box-shadow:0 0  5px rgba(0,0,0,0.1);
    border-bottom: 0 none;
}
.goods-list li{
    position: relative;
    float: left;
    margin:20px 0  0 ;
    padding:20px 20px  10px;
    width:200px;
    height: 348px;
}
.price-bar{
    overflow:hidden;
}
.price-bar .activity-infor {
    float: left;
    margin: 6px 0 0 10px;
    padding: 0 5px;
    font: 12px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    border: 1px dashed #fcb3b3;
    background: #fff3f3;
    color: #f33;
}
.goods-list .volume {
    font: 12px/22px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #999;
}
.goods-list .volume em {
    color: #666;
}
a {
    color: #134ba0;
    text-decoration: none;
}
.goods-list .shop-infor {
    position: absolute;
    top: 340px;
    left: 0px;
    z-index:5;
    width: 200px;
    padding:0 20px;
    height: 20px;
    overflow: hidden;
}
.goods-list .active{
    overflow:visible;
    background:#fff;
    position: absolute;
    left:-1px;
    width:198px;
    top:340px;
    height:50px;
    border:1px solid #e6e6e6;
    box-shadow:0px 3px  5px rgba(0,0,0,0.1);
    border-top: 0 none;
}
.goods-list .shop-infor p {
    font: 12px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.goods-list .evaluation {
    float: right;
}
.price-bar .price {
    float: left;
    font: 18px/32px Verdana;
    color: #f33;
}
.goods-list .shop-infor .shop-name a {
    color: #666;
    font-family:"Microsoft YaHei";
}
.goods-list .total-volume {
    color: #999;
}
.goods-list .total-volume em {
    color: #666;
}
#active{
    width:100%;
    overflow:hidden;
}
#active .act{
    width:1200px;
    overflow:hidden;
    margin: 0 auto;
}

.act .line{
    padding: 20px 0;
}
.act .line p{
    position: relative;
    margin: 0 auto;
    width: 274px;
    border-bottom: 1px solid #e6e6e6;
}
.act .line p span{
    position: absolute;
    top: -20px;
    left: 50%;
    margin: 0 0 0 -87px;
    padding: 0 15px;
    background: #fff;
    font: 18px/40px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
.act .boximg{
    padding:8px 0 0;
}
.act .boximg img{
    vertical-align: bottom;
    border:none 0;
}
.act .boximg a{
    display:block;
    float: left;
    width:285px;
    height:214px;
    margin-right:20px;
}
.act .boximg .last{
    margin:0;
}
.act .sea .searchform{
    width: 536px;
    height: 32px;
    border: 2px solid #c40000;
    margin:0 auto;
}
.act .sea .searchform input{
    border:none 0;
}
.act .sea .searchform .text{
    float:left;
    padding: 6px 10px;
    width: 427px;
    height: 20px;
    font: 14px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
    outline: 0 none
}
.act .sea .searchform .btn{
    float: left;
    width: 89px;
    height: 32px;
    font: 16px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #fff;
    background:#c40000;
    cursor: pointer;
}
.act .sea{
    padding:50px 0 20px;
    width:100%;
    overflow:hidden;
}
#footer{
    width:100%;
    overflow:hidden;
    border-top:1px solid #ededed;
    margin-top:30px;
}
.foot{
    width:1200px;
    margin:0 auto;
    overflow:hidden;
}
.foot .service{
    overflow:hidden;
    width:100%;
    padding:30px 0;

}
.foot .service img{
    vertical-align: middle;
}
.foot .relate{
    overflow:hidden;
    padding: 20px 0;
    border-top: 1px solid #ededed;
}
.relate .cooperation{
    width: 145px;
    background:url(../img/footer.png) no-repeat 0 -215px;
}
.relate .hotline{
    width: 210px;
    background:url(../img/footer.png) no-repeat 0 -90px;
}
.relate .cooperation dt, .relate .hotline dt {
    padding: 0;
    font-size: 16px;

}
.relate .cooperation,.relate .hotline{
    float: right;
    padding:0 0 0 60px;
}
.relate dt {
    font: bold 14px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
.relate dd p {
    font: 12px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.relate .cooperation .btn {
    display: block;
    margin: 6px 0 0;
    width: 80px;
    height: 26px;
    font: 12px/26px SimSun;
    color: #fff;
    text-align: center;
    background: #f33;
    padding:0 5px 0 0;
    border-radius:2px;
}
.relate .cooperation .btn:hover{
    background: darkred;
}
.hotline .weibo{
    display: inline-block;
    padding: 0 0 0 26px;
    font: 12px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #333;
    background:url(../img/footer.png) no-repeat 0 0;
}
.relate dl{
    float:left;
    width:175px;
}
.relate dt{
    font: bold 14px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
.relate dd p {
    font: 12px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}

.foot-nav{
    width:100%;
    padding:25px 0 30px;
    background: #2d2d2d;
}
.foot-nav .partner{
    padding: 0 135px 0 55px;
    height: 48px;
    overflow: hidden;
    font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
.foot-nav .partner span{
    display: block;
    width:60px;
    height:48px;
    color:#ccc;
    float: left;
}
.foot-nav .partner p{
    width:1010px;
    float: left;
}
.partner a,.foot-online a{
    margin: 0 10px;
    color: #fff;
}
.foot-nav .foot-online{
    padding: 0 135px 0 55px;
    height: 24px;
    overflow: hidden;
    font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
.foot-nav .first{
    margin-left:0;
}
.copyright{
    font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
    padding: 20px 135px 0 55px;
    height: 24px;
    overflow: hidden;
}
.copyright a{
    margin: 0 10px;
    color: #999;
}
.copyright span{
    padding: 0 15px 0 0 ;
}


@font-face {font-family: 'iconfont';
    src: url('../icon/iconfont.eot'); /* IE9*/
    src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../icon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#side{
    width:37px;
    height:100%;
    position: fixed;
    right:0;
    top:0;
    z-index: 20;
    background:rgba(0,0,0,.98);
    background:#000;
    opacity:.98;
    filter:alpha(opacity=98);
}
#side .topbar{
    width:100%;
    height:266px;
    position: absolute;
    left:0;
    top:50%;
    margin-top:-250px;
}
#side .btobar{
    position: absolute;
    bottom:0;
    right:0;
}
.order,.footprint,.cart,.coupons{
    position: relative;
    margin: 0 0 12px;
    background-color: #000;
}
.tab-ico{
    width:37px;
    height:37px;
    background:url(../img/bar_ico.png) no-repeat;
}
.order .tab-ico{
    background-position: 0 0;
}
.footprint .tab-ico{
    background-position: 0 -74px;
}
.cart .tab-ico{
    background-position: 0 -111px;
}
.coupons .tab-ico{
    background-position: 0 -693px;
}
.btobar .region .tab-ico{
    background-position: 0 -185px;
}
.cart .number{
    position: absolute;
    top: -4px;
    right: 3px;
    padding: 1px 4px 0;
    height: 13px;
    font: 12px/13px Arial;
    background: #f33;
    color: #fff;
    border-radius: 10px;
}
.btobar .region .feedback{
    display: block;
    padding: 5px;
    font: 12px/14px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #fff;
    text-align: center;
}
.tab-ico:hover {
    background-color: #f33;
}
.getback {
    display: block;
    width: 37px;
    height: 37px;
    background-position: 0 -185px;
    background-color: #000;
}
.topbar em{
    display:inline-block;
    text-align:center;
    line-height:37px;
    width:70px;
    height:37px;
    position: absolute;
    top:0;
    right:-33px;
    color:#fff;
    background:#f33;
    z-index: -1;
}
#research{
    position: fixed;
    top:50%;
    left: -30px;
    margin-top:-38px;
    z-index:5;
}
#box{
    width:330px;
    border:5px solid rgba(0,0,0,.7);
    overflow:hidden;
    position: fixed;
    background:#fff;
    display:none;
    z-index: 100;
}
#box h3{
    width:290px;
    height:28px;
    position: relative;
    padding:10px 20px 0 20px;
    border-bottom:1px solid #eeeeee;
    color:#666;
}
#box h3 i{
    display: inline-block;
    width:22px;
    background:#fafafa url(../img/shop_login_bg.png) no-repeat -182px -82px;
    height:22px;
    border-radius: 50%;
    position: absolute;
    top:13px;
    right:11px;
}
#box h3 i:hover{
    background-position: -155px -82px;
}
#box .m{
    width:290px;
    padding:20px 20px 0 20px;
}
#box .m .text{
    width:283px;
    height:38px;
    padding-left:5px;
    line-height:38px;
    color:#ccc;
    outline: none;
    border:1px solid #ccc;
    margin-top:10px;
}
.m .pass{
    width:100%;
    overflow:hidden;
    padding-top:10px;
}
.m .check{
    display:block;
    float: left;
    margin:5px 10px 0 0;
}
.log a,.pass a{
    float:right;
    display: block;
}
.m .forget{
    text-align: right;
}
#box input{
    border:none 0;
    outline: 0 none;
}
#box .m .btn{
    width:290px;
    height:40px;
    font-size:14px;
    color:#fff;
    background:url(../img/shop_login_bg.png) no-repeat 0 0;
    margin:20px 0 13px 0;
    border:none;
}
#box .m .btn:hover{
    background-position: 0 -41px;
}
.cooper{
    height:40px;
    background:#fafafa;
    line-height:40px;
    padding:20px 0 0 20px;
    margin-top:30px;
}
.cooper a{
    display: inline-block;
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:12px;
}
.cooper span{
    display: block;
    float: left;
    margin-right:10px;
}
.m .log{
    width:100%;
    overflow:hidden;
}
.cooper .weibo,.cooper .qq,.cooper .zhifu,.cooper .baidu{
    background-image:url(../img/shop_login_bg.png);
    background-repeat:no-repeat;
}
.cooper .weibo{
    background-position: -0 -81px;
}
.cooper .weibo:hover{
    background-position: -0 -121px;
}
.cooper .qq{
    background-position: -38px -81px;
}
.cooper .qq:hover{
    background-position: -38px -121px;
}
.cooper .zhifu{
    background-position: -77px -81px;
}
.cooper .zhifu:hover{
    background-position: -77px -121px;
}
.cooper .baidu{
    background-position:-116px -81px;
}
.cooper .baidu:hover{
    background-position:-116px -121px;
}
#all{
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
}